<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscriptions</title>
</head>
<body>
  <h1>User Subscriptions</h1>
  <ul>
    <% youtubeUserData.forEach(user => { %>
      <li>
        <h2><%= user.username %></h2>
        <p>Email: <%= user.userEmail %></p>
        <p>Subscription Type: <%= user.userType %></p>
      </li>
    <% }); %>
  </ul>
</body>
</html>